@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");
@import url("todo.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gaegu", cursive;
  color: white;
  background-color: beige;
}
